* {
  padding: 0;
  margin: 0;
}

html {
	overflow-y: hidden;
}

body {
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #333;
	padding-top: 100px;
}

html,
body {
  height: 100%;
}

#outcome {
	width: 420px;
	height: 420px;
	margin: 0 auto;
	cursor: pointer;
}

#outcome div {
	float: left;
	width: 100px;
	height: 100px;
	background-color: #EEE;
	border-radius: 100%;
	margin: 20px;
}

#outcome [data-value="1"],
#outcome [data-value="7"] {
	/*background-color: transparent;*/
}

#outcome[data-number="1"] [data-value="4"],
#outcome[data-number="2"] [data-value="0"],
#outcome[data-number="2"] [data-value="8"],
#outcome[data-number="3"] [data-value="0"],
#outcome[data-number="3"] [data-value="4"],
#outcome[data-number="3"] [data-value="8"],
#outcome[data-number="4"] [data-value="0"],
#outcome[data-number="4"] [data-value="2"],
#outcome[data-number="4"] [data-value="6"],
#outcome[data-number="4"] [data-value="8"],
#outcome[data-number="5"] [data-value="0"],
#outcome[data-number="5"] [data-value="2"],
#outcome[data-number="5"] [data-value="6"],
#outcome[data-number="5"] [data-value="8"],
#outcome[data-number="5"] [data-value="4"],
#outcome[data-number="6"] [data-value="0"],
#outcome[data-number="6"] [data-value="3"],
#outcome[data-number="6"] [data-value="6"],
#outcome[data-number="6"] [data-value="2"],
#outcome[data-number="6"] [data-value="5"],
#outcome[data-number="6"] [data-value="8"] {
	background-color: black;
}
