* {
  padding: 0;
  margin: 0; }

body {
  font-family: sans-serif;
  text-align: center;
  color: #111;
  padding-top: 50px; }

html,
body {
  height: 100%; }

.dice {
  font-size: 170px; }

.table {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: solid 5px black;
  transition: background-color .2s;
  gap: 10px;
  padding-bottom: 40px;
  box-sizing: border-box; }
  .table[data-player="0"] {
    background-color: white;
    color: black; }
  .table[data-player="1"] {
    background-color: black;
    color: white; }

.controls {
  padding-top: 30px; }

.scores {
  position: absolute;
  bottom: 20px;
  right: 20px;
  left: 20px;
  font-size: 2rem;
  display: flex;
  justify-content: space-between; }

[data-player="0"] .player {
  font-weight: bold; }

.oppo {
  text-align: right; }
  [data-player="1"] .oppo {
    font-weight: bold; }

button {
  background-color: brown;
  color: white;
  padding: 15px 30px;
  border: 0;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bold; }
  button:hover {
    background-color: maroon; }
  button[disabled] {
    opacity: 0.5;
    pointer-events: none; }
