* {
  padding: 0;
  margin: 0;
}

html {
	overflow-y: hidden;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

html,
body {
  height: 100%;
}

button {
	font-size: inherit;
	font-family: inherit;
	text-transform: inherit;
	padding: 6px 25px;
	border-radius: 5px;
	border-color: sienna;
	border: solid 1px grey;
  background-color: white;
}

#name {
	font-size: 50px;
}

#outcome {
	font-size: 200px;
	height: 100%;
}

#playerList {
	padding: 10px;
}

.spacer {
	height: 5px;
}

.clear {
	clear: both;
}

.left {
	padding-top: 50px;
  height: 100%;
  box-sizing: border-box;
}

@media (orientation: portrait) {

	.right {
		display: none;
	}

}

@media (orientation: landscape) {

	.left,
	.right {
		width: 50%;
		float: left;
	}

}
